.contact{
    border: solid 1.2px #cecece;
    border-radius: 5px;
    margin: 2px 0px
}

.contact:hover{
    box-shadow: 0px 2px 4px 2px #cecece;
}
.contact-list{
    list-style: none;
    width: 200px;
}